.home-container {
  background-image: url('../assets/img/bg2.png'); /* Ruta a tu imagen de fondo */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySection {
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /* Fondo semi-transparente para el contenido */
  padding: 20px;
  color: #fff; /* Color del texto */
  text-align: center; /* Alinea el texto al centro */
}
